.dash_container{
    display: table;
    height: 80vh;
    width: 100%;
    background-image:url('../images/bg-images/dash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.7;
}
  
.dash_container .dash_content {
    display: table-cell;
    vertical-align: middle;
}

.dash_container .dash_content .dash_text {
    font-size: 2rem;
    text-align: center;
    color: #000;
    opacity: 1 !important;
    font-weight: bolder;
}

.header_container .header_content .nav_menu a {
    color: #000;
}

.header_container .header_content .nav_menu.active a:after {
    border: none;
}

.menu_container .menu_content .nav_menu.active a:after {
    border: none;
}